
.conteiner-paquetes{
    display: flex;
    justify-content: center;
    align-items: center;
}
  .conteiner-inicio{
    display: none;
  }

/* Estilos de carrusel  */
.carrusel{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* LAPTOP  */
@media (min-width: 1024px) {

  .conteiner-paquetes {
    display: none;
  }
  .conteiner-inicio {
    display: block;
    width: 100%;
    height: 70vh;
    perspective: 8px;
    overflow-x: hidden;
  }

  .cont-intalacion {
    position: absolute;
  }

  .conteiner-instalacion-img {
    width: 100%;
    height: 80vh;
    transform: translateZ(0px) scale(1);
    transform-origin: 0 50%;
  }

  .conteiner-instalacion-img img{
    width: 100%;
    height: 80vh;
  }

  .container-instalacion-titulo{
    width: 100%;
    height: auto;
    transform: translateZ(2px) scale(0.75);
    top: 90px;
  }
  .container-instalacion-titulo h1{
    color: rgb(255, 255, 255);
    font-size: 60px;
    text-align: center;
  }

  .txt-instalacion{
     width: 100%;
     height: auto;
     transform: translateZ(4px) scale(0.5);
     transform-origin: 50%;
     top: 250px;
  }

  .txt-instalacion p{
      color: rgb(255, 255, 255);
      font-size: 50px;
      text-align: center;
  }

  /* carrusel  */
  .carrusel-img{
    width: 80%;
    height: 80%;
  }

  .porton{
    width: 80%;
    height: 80%;
  }

}
